body {
    background-color: #F8F1F1;
}

.produits_phares {
    margin: 20px;
}

.carroussel {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}


.MD {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.degrade{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    z-index: 4;
    background: linear-gradient(to right, rgb(41, 41, 41), #96001800);
}

.degrade2{
    position: absolute;
    width: 20%;
    right: 0;
    height: 100%;
    z-index: 4;
    background: linear-gradient(to left, rgb(41, 41, 41), #f8f1f100);
}


.slider {
    display: flex;
    width: 60%;
    height: 35vh;
    max-width: 900px;
    position: absolute;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: spawn 1s ease-out;
    z-index: 3;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.slider .slide{
    display: flex;
    width: 40vh;
    height: 30vh;
    cursor: pointer;
    margin: 20px;
    transition: scale .5s;
}

.slider .slide img{
    box-shadow: 0 2px 5px black;
}

@keyframes scroll {
    0%{
        transform: translateX(50vh);
    }
    100%{
        transform: translateX(calc(-40vh * 5 - 20px*10 + 50vh));
    }
}

.slide-track:hover{
    animation-play-state: paused;
}
.slide:hover{
    scale: 1.05;
}

@media screen and (max-width: 900px) {
    .carroussel{
        display: none;
    }
}

#catalogue {
    display: flex;
    justify-content: space-around;
}

.filtre_categorie {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 565px;
}

.filtre {
    background-color: white;
    border: 3px solid #960018;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}

#appliquer_filtre {
    text-align: center;
}


#titre_filtre {
    text-align: center;
}

#titre_categories {
    text-align: center;
}

.categorie {
    background-color: white;
    border: 3px solid #960018;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}

#produits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F8F1F1;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    height: 800px;
}







#prev_next {
    background-color: #F8F1F1;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    #produit {
        height: 2000px;
    }
}


#suivant {
    border-radius: 25px;
    border: 10px solid #F8F1F1;
    background-color: #F8F1F1;
    transition: transform 0.3s;
}

#suivant:hover {
    transform: scale(1.1);
}

#precedent {
    border-radius: 25px;
    border: 10px solid #F8F1F1;
    background-color: #F8F1F1;
    transition: transform 0.3s;
}

#precedent:hover {
    transform: scale(1.1);
}

#premiere_ligne, #deuxieme_ligne {
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.produit_unitaire {
    width: 30%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px black;
    margin: 5px auto;
}

.produit_unitaire img {
    width: 100%;
    display: block;
}

.description {
    position: absolute;
    bottom: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 90%);
    color: #B3B3B3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s;
}

.produit_unitaire:hover .description{
    bottom: 0;
}

.description{
    padding: 0 15px;
}

.description h3 {
    text-transform: uppercase;
}


.bouton_en_savoir_plus {
    margin-inline: auto;
    padding: 10px 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    width: 98%;
    border: 1px solid white;
    transition: transform 0.3s;
}

.bouton_en_savoir_plus:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
    .description {
        font-size: 70%;
    }
    .bouton_en_savoir_plus {
        font-size: 70%;
    }
}

@media screen and (max-width: 900px) {
    #premiere_ligne, #deuxieme_ligne {
        flex-direction: column;
    }
    .produit_unitaire {
        margin: auto;
        height: 70%;
        width: 70%;
        margin: 5px auto;
    }
    .description {
        font-size: 100%;
    }
    .bouton_en_savoir_plus {
        font-size: 100%;
    }
}

@media screen and (max-width: 700px) {
    .description {
        font-size: 85%;
    }
    .bouton_en_savoir_plus {
        font-size: 85%;
    }
}

@media screen and (max-width: 600px) {
    .description {
        font-size: 70%;
    }
    .bouton_en_savoir_plus {
        font-size: 70%;
    }
}

@media screen and (max-width: 500px) {
    .description {
        font-size: 50%;
    }
    .bouton_en_savoir_plus {
        font-size: 50%;
    }
}