body {
    background-color: #F8F1F1;
}

#catalogue {
    display: flex;
    justify-content: space-around;
}

.filtre_categorie {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 565px;
}

.filtre {
    background-color: white;
    border: 3px solid #960018;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}

#appliquer_filtre {
    text-align: center;
}

#titre_filtre {
    text-align: center;
}

#titre_categories {
    text-align: center;
}

.categorie {
    background-color: white;
    border: 3px solid #960018;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}

#produits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F8F1F1;
    padding: 10px;
    border-radius: 8px;
    width: 1200px;
    height: 700px;
}

#premiere_ligne, #deuxieme_ligne {
    display: flex;
    justify-content: space-around;
}

.produit_1, .produit_2, .produit_3 {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    height: 200px;
    width: 200px;
    transition: transform 0.3s;
}

.produit_1:hover, .produit_2:hover, .produit_3:hover {
    transform: scale(1.2);
}

#prev_next {
    background-color: #F8F1F1;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    #premiere_ligne, #deuxieme_ligne {
        flex-direction: column;
    }
}

#suivant {
    border-radius: 25px;
    border: 10px solid #F8F1F1;
    background-color: #F8F1F1;
    transition: transform 0.3s;
}

#suivant:hover {
    transform: scale(1.1);
}

#precedent {
    border-radius: 25px;
    border: 10px solid #F8F1F1;
    background-color: #F8F1F1;
    transition: transform 0.3s;
}

#precedent:hover {
    transform: scale(1.1);
}
