.panier {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 100px - 98.667px);
}

.element-panier {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.element-panier img {
    width: 10%;
}

.total {
    align-self: flex-end;
    padding: 40px 0;
}

.intro-panier {
    font-size: 1.4em;
    padding: 40px 0;
}

.valider-panier {
    padding: 10px 25px;
    background-color: #F4AF27;
    border-radius: 2px;
    border: 0;
    align-self: flex-end;
}

.trash-button {
    background-color: #D8D8D8;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 0;
}