div.bloc_principal:hover, div.bloc_principal:active {
    animation-name: deckAn;
    animation-duration: 0.5s;
    animation-fill-mode:forwards ;
}

@keyframes deckAn {
    from {
        width: 30%;
        height: 25%;
    
}
    to {
        width: 35%;
        height: 30%;
    }
}