input[type="text"], input[type="email"]{
    width: 40vh;
    height: 6vh;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    border:white solid 1px;
    padding-left: 2px;
}

.titre_donnees_container{
    font-family: 'DIN Alternate';
    color:black;
    font-size: 30px;
}

.donnees_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    border: chocolate solid 2px;
    margin-left:10px;
    justify-content: center;
    align-items: center;
}